# 檢視與處理 Outliers
### 為何會有 outliers, 常見的 outlier 原因
* 未知值，隨意填補 (約定俗成的代入)，如年齡常見 0,999
* 可能的錯誤紀錄/手誤/系統性錯誤，如某本書在某筆訂單的銷售量 = 1000 本

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
#dir_data = './data'
dir_data='..'

In [2]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ../application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 請參考 HomeCredit_columns_description.csv 的欄位說明，觀察並列出三個你覺得可能有 outlier 的欄位並解釋可能的原因

In [14]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [3]:
# 先篩選數值型的欄位
"""
YOUR CODE HERE, fill correct data types (for example str, float, int, ...)

"""

app_train.select_dtypes(include=['float64', 'int64'])

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,202500.000,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,270000.000,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0,67500.000,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,135000.000,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.000,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,0,99000.000,490495.5,27517.5,454500.0,0.035792,-16941,-1588,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,1,171000.000,1560726.0,41301.0,1395000.0,0.035792,-13778,-3130,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,0,360000.000,1530000.0,42075.0,1530000.0,0.003122,-18850,-449,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,0,112500.000,1019610.0,33826.5,913500.0,0.018634,-20099,365243,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,0,135000.000,405000.0,20250.0,405000.0,0.019689,-14469,-2019,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,1,112500.000,652500.0,21177.0,652500.0,0.022800,-10197,-679,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,0,38419.155,148365.0,10678.5,135000.0,0.015221,-20417,365243,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,0,67500.000,80865.0,5881.5,67500.0,0.031329,-13439,-2717,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,1,225000.000,918468.0,28966.5,697500.0,0.016612,-14086,-3028,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,0,189000.000,773680.5,32778.0,679500.0,0.010006,-14583,-203,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,0,157500.000,299772.0,20160.0,247500.0,0.020713,-8728,-1157,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,0,108000.000,509602.5,26149.5,387000.0,0.018634,-12931,-1317,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,1,81000.000,270000.0,13500.0,270000.0,0.010966,-9776,-191,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,0,112500.000,157500.0,7875.0,157500.0,0.046220,-17718,-7804,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,1,90000.000,544491.0,17563.5,454500.0,0.015221,-11348,-2038,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,0,135000.000,427500.0,21375.0,427500.0,0.015221,-18252,-4286,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,1,202500.000,1132573.5,37561.5,927000.0,0.025164,-14815,-1652,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,1,450000.000,497520.0,32521.5,450000.0,0.020713,-11146,-4306,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,0,83250.000,239850.0,23850.0,225000.0,0.006296,-24827,365243,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,2,135000.000,247500.0,12703.5,247500.0,0.026392,-11286,-746,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,0,90000.000,225000.0,11074.5,225000.0,0.028663,-19334,-3494,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,0,112500.000,979992.0,27076.5,702000.0,0.018029,-18724,-2628,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,1,112500.000,327024.0,23827.5,270000.0,0.019101,-15948,-1234,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,0,270000.000,790830.0,57676.5,675000.0,0.046220,-9994,-1796,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,0,90000.000,180000.0,9000.0,180000.0,0.030755,-10341,-1010,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,225000.000,297000.0,19975.5,297000.0,0.008575,-20644,-3147,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,0,225000.000,500566.5,34969.5,472500.0,0.031329,-14106,-226,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,0,99000.000,247275.0,16479.0,225000.0,0.007330,-24911,365243,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,0,540000.000,545040.0,35617.5,450000.0,0.032561,-12847,-328,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,1,270000.000,180000.0,9000.0,180000.0,0.003813,-11973,-670,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,1,292500.000,355536.0,18283.5,270000.0,0.072508,-16010,-1185,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,0,117000.000,1071909.0,31473.0,936000.0,0.010147,-23125,365243,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,0,157500.000,135000.0,13351.5,135000.0,0.004960,-10092,-1218,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,0,225000.000,521280.0,23089.5,450000.0,0.014464,-16471,-286,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,0,81000.000,135000.0,9148.5,135000.0,0.010147,-9874,-1928,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,2,90000.000,1078200.0,31522.5,900000.0,0.019101,-10976,-1953,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,0,585000.000,1575000.0,43443.0,1575000.0,0.028663,-20965,-1618,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,0,135000.000,946764.0,37678.5,765000.0,0.019689,-17533,-2306,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,1,270000.000,479700.0,46858.5,450000.0,0.035792,-14958,-6573,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,0,180000.000,808650.0,23773.5,675000.0,0.025164,-20922,-7438,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,0,360000.000,337500.0,16875.0,337500.0,0.004960,-17345,-2178,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,0,180000.000,270126.0,12028.5,193500.0,0.007020,-16679,-1222,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,0,198000.000,1312110.0,52168.5,1125000.0,0.072508,-19102,-3689,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,0,81000.000,225000.0,12694.5,225000.0,0.007020,-16988,-8694,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,0,261000.000,1303812.0,35982.0,1138500.0,0.031329,-20390,-5326,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,3,81000.000,269550.0,11871.0,225000.0,0.009175,-12961,-1046,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,1,94500.000,225000.0,10620.0,225000.0,0.010966,-16063,-8736,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,0,112500.000,345510.0,17770.5,247500.0,0.022800,-11870,-399,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,0,153000.000,331920.0,16096.5,225000.0,0.022625,-16705,-7258,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,0,112500.000,225000.0,22050.0,225000.0,0.022800,-24384,365243,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,0,157500.000,254700.0,27558.0,225000.0,0.032561,-9327,-236,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,0,72000.000,269550.0,12001.5,225000.0,0.025164,-20775,365243,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,0,153000.000,677664.0,29979.0,585000.0,0.005002,-14966,-7921,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0,171000.000,370107.0,20205.0,319500.0,0.005313,-11961,-4786,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0,157500.000,675000.0,49117.5,675000.0,0.046220,-16856,-1262,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [26]:
#numeric_columns = list(app_train.columns[list(app_train.dtypes.isin(dtype_select))])
numeric_columns = list(app_train.columns[list(app_train.select_dtypes(include=[float]))])
print(numeric_columns)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [11]:
# 再把只有 2 值 (通常是 0,1) 的欄位去掉
numeric_columns = list(app_train[numeric_columns].columns[list(app_train[numeric_columns].apply(lambda x:len(x.unique())!=2 ))])
numeric_columns
#print("Numbers of remain columns" % len(numeric_columns))

[]

In [ ]:
# 檢視這些欄位的數值範圍
for col in numeric_columns:
    """
    Your CODE HERE, make the box plot
    """
    
    plt.show()

In [ ]:
# 從上面的圖檢查的結果，至少這三個欄位好像有點可疑

# AMT_INCOME_TOTAL
# REGION_POPULATION_RELATIVE
# OBS_60_CNT_SOCIAL_CIRCLE

### Hints: Emprical Cumulative Density Plot, [ECDF](https://zh.wikipedia.org/wiki/%E7%BB%8F%E9%AA%8C%E5%88%86%E5%B8%83%E5%87%BD%E6%95%B0), [ECDF with Python](https://stackoverflow.com/questions/14006520/ecdf-in-python-without-step-function)

In [ ]:
# 最大值離平均與中位數很遠
print(app_train['AMT_INCOME_TOTAL'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
YOUR CODE HERE
"""
cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.xlim([cdf.index.min(), cdf.index.max() * 1.05]) # 限制顯示圖片的範圍
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍

plt.show()

# 改變 y 軸的 Scale, 讓我們可以正常檢視 ECDF
plt.plot(np.log(list(cdf.index)), cdf/cdf.max())
plt.xlabel('Value (log-scale)')
plt.ylabel('ECDF')

plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍

plt.show()

## 補充：Normal dist 的 ECDF
![ecdf_normal](https://au.mathworks.com/help/examples/stats/win64/PlotEmpiricalCdfAndCompareWithSamplingDistributionExample_01.png)

In [ ]:
# 最大值落在分布之外
print(app_train['REGION_POPULATION_RELATIVE'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
Your Code Here
"""
cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍
plt.show()

app_train['REGION_POPULATION_RELATIVE'].hist()
plt.show()

app_train['REGION_POPULATION_RELATIVE'].value_counts()

# 就以這個欄位來說，雖然有資料掉在分布以外，也不算異常，僅代表這間公司在稍微熱鬧的地區有的據點較少，
# 導致 region population relative 在少的部分較為密集，但在大的部分較為疏漏

In [ ]:
# 最大值落在分布之外
print(app_train['OBS_60_CNT_SOCIAL_CIRCLE'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
Your Code Here

cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.xlim([cdf.index.min() * 0.95, cdf.index.max() * 1.05])
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍
plt.show()
"""
app_train['OBS_60_CNT_SOCIAL_CIRCLE'].hist()
plt.show()
print(app_train['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts().sort_index(ascending = False))

## 注意：當 histogram 畫出上面這種圖 (只出現一條，但是 x 軸延伸很長導致右邊有一大片空白時，代表右邊有值但是數量稀少。這時可以考慮用 value_counts 去找到這些數值

In [ ]:
# 把一些極端值暫時去掉，在繪製一次 Histogram
# 選擇 OBS_60_CNT_SOCIAL_CIRCLE 小於 20 的資料點繪製
"""
Your Code Here
"""
loc_a = 
loc_b = 

app_train.loc[loc_a, loc_b].hist()
plt.show()